@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-surface: #060e20;
  --color-surface-container: #0f1930;
  --color-surface-container-low: #091328;
  --color-surface-container-high: #141f38;
  --color-surface-container-highest: #192540;
  --color-surface-bright: #1f2b49;
  
  --color-primary: #9fa7ff;
  --color-secondary: #be83fa;
  --color-tertiary: #7de9ff;
  --color-error: #ff6e84;
  
  --color-on-surface: #dee5ff;
  --color-on-surface-variant: #a3aac4;
}

@layer base {
  body {
    @apply bg-surface font-body text-on-surface selection:bg-primary/30;
  }
}

@layer components {
  .glass-card {
    @apply bg-surface-container/70 backdrop-blur-xl border-t border-white/5;
  }
  
  .glow-hover {
    @apply transition-all duration-300 hover:translate-y-[-2px] hover:shadow-[0_0_40px_-10px_rgba(159,167,255,0.2)];
  }
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
